{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<h1>Bonjour</h1>
	<a href="{{ path('app_register') }}">s'inscrire</a>
	<a href="{{ path('app_login') }}">se connecter</a>


{% endblock %}
